<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home UP</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
</head>
<body>
    <header>
        <div class="headcont">
        <nav>
        <img class="logofa" src="/images/falalogo.png" alt="">
        <h1>Trabajo práctico integrador caso Falabella 2021</h1>
        <img class="logoup" src="/images/logoup.png" alt="">
        </nav>
        <nav class="nav2">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/presentacion">Presentación</a></li>
                <li><a href="https://drive.google.com/drive/folders/1cxbhEBG0ue4c7rBFIps4aKuKCNnD08dc?usp=sharing" target="_blank">TP para descargar</a></li>
            </ul>
        </nav>
    </div>

    </header>

   <main>   
    <div class="maincont">
        <h1>Infomarción de la materia</h1>
    <ul >
        <li> Profesor: Oscar Christian Martiñera</li>
        <li> Materia: ADMINISTRACIÓN DE DATOS II</li>
        <li> Estudiante: Pablo Aníbal Di Biase Legajo: 0119307</li>
        <li> Estudiante: Damián Leandro Frutos Legajo: 0121042</li>
        <li> Estudiante: Qiyin Li Legajo: 97069</li>
    </ul>
    <h1>Intro caso Falabella:</h1>
    <p class="textointro">Debido a la coyuntura epidemiológica, gran parte de las ventas de la firma se realizaron a través de un único marketplace digital para todas las unidades de negocio. Eso provocó numerosos despidos e incluso el cierre de varias tiendas en Argentina. Luego de un pico de ventas del 80% en 2020 a través de los canales digitales, la proporción se ha estabilizado por encima del 50%. 
        El rebote económico ha iniciado en Latinoamérica y ya vislumbra que las ventas offline recobrarán fuerzas, pero e-commerce ha quedado definitivamente consolidado. En este contexto, el mayor desafío en relación a la gestión del conocimiento consiste desarrollar estrategias adecuadas para formar una nueva generación de vendedores que ya no solo competirá con los de otras firmas, sino con el propio canal digital de Falabella, al mismo tiempo que se descubren diversos aspectos sobre estas nuevas formas de venta y distribución.
        </p>

    </div>
   </main>

   
    
</body>
</html>