<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home UP</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
</head>
<body>
    <header>
        <div class="headcont">
        <nav>
        <img class="logofa" src="/images/falalogo.png" alt="">
        <h1>Trabajo práctico integrador caso Falabella 2021</h1>
        <img class="logoup" src="/images/logoup.png" alt="">
        </nav>
        <nav class="nav2">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/presentacion">Presentación</a></li>
                <li><a href="https://drive.google.com/drive/folders/1cxbhEBG0ue4c7rBFIps4aKuKCNnD08dc?usp=sharing" target="_blank">TP para descargar</a></li>
            </ul>
        </nav>
    </div>

    </header>

   <main>   
    <div class="maincont">
    <ul >
        <li> Profesor: Oscar Christian Martiñera</li>
        <li> Materia: ADMINISTRACIÓN DE DATOS II</li>
        <li> Estudiante: Pablo Aníbal Di Biase Legajo: 0119307</li>
        <li> Estudiante: Damián Leandro Frutos Legajo: 0121042</li>
        <li> Estudiante: Qiyin Li Legajo: 97069</li>
    </ul>

    <p>texto enunciado del tp con una breve intro</p>

    </div>
   </main>

   <footer>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum voluptate dignissimos sunt? Maiores quod, dolorem quisquam est ipsam corrupti molestiae, ea veniam rem recusandae saepe aperiam beatae blanditiis atque.</p>
   </footer>
    
</body>
</html>