<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentacion UP</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
</head>
<body>
    <header>
        <div class="headcont">
        <nav>
        <img class="logofa" src="/images/falalogo.png" alt="">
        <h1>Trabajo práctico integrador caso Falabella 2021</h1>
        <img class="logoup" src="/images/logoup.png" alt="">
        </nav>
        <nav class="nav2">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/presentacion">Presentación</a></li>
                <li><a href="https://drive.google.com/drive/folders/1cxbhEBG0ue4c7rBFIps4aKuKCNnD08dc?usp=sharing" target="_blank">TP para descargar</a></li>
            </ul>
        </nav>
    </div>

    </header>

   <main>   
       <div class="maincont">
           <h1>Ruta de la presentación:</h1>

        <ul class="indicetp">
            
            <li>Identificación de la organización</li>

            <li>Misión y visión -> Valores de la organización</li>

            <li>Introducción: ¿por qué KM en esta situación?</li>

            <li>Descripción de la situación	-> Desafíos -> Problemas -> Análisis de causas</li>

            <li>Herramientas de análisis -> FODA -> Fuerzas de Porter -> Cadena de valor</li>

            <li>Competencias -> Modelo de competencias</li>

            <li>Procesos -> Estructura organizacional de la empresa: organigrama retail -> Organigrama de las gerencias Chile/Argentina/Perú/Colombia -> Objetivos según el nivel de procesos -> Mejora continua -> Deming -> No conformidad -> Mediciones
            </li>
            <li>Propuesta de mejora -> Tipos de conocimiento/Ciclos de conversión -> Procesos</li>

            <li>Desarrollo e implementación de la propuesta de mejora -> Metodología -> Responsabilidades -> Equipos (roles y tareas) -> Plazos</li>


            <li>Acciones de soporte y gestión del cambio</li>

    </ul>

       </div>
       <div class="maincont main2">
           <h1>Oportunidades y Amenazas:</h1>
           <img class="imgpresentacion" src="/images/foda1.png" alt="">
           <h1>FODA cruzado: </h1>
           <img class="imgpresentacion" src="/images/foda2.png" alt="">
           <h1>Resumen: </h1>
           <img class="imgpresentacion" src="/images/foda3.png" alt="">


       </div>

   </main>

   
    
</body>
</html>