* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
body {
    background:rgba(159, 157, 157, 0.968);
}
h1 {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1.8s ease forwards;
}
.headcont {
    width: 90vw;
    margin: auto;
    padding-top: 2%;
}
.logofa {
    width: 160px;
    height: 80px;
}
.logoup{
    width: 100px;
}
a { 
    font-size: 1.3rem;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul{
    list-style: none;

}
nav,nav ul{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav2 {
    margin: auto;
    width: 60vw;
}

.maincont {
    border: solid 1px;
    margin:auto;
    margin-top: 2%;
    width: 90vw; 
    border-radius: 10px;
    padding: 1%;
    box-shadow: 2px 2px 4px rgba(79, 78, 78, 0.658);
}
li{
    margin-top: 3px;
    margin-bottom: 3px;
}


p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 84vw;
}
.indicetp li{
    font-size: 1.2rem;
    list-style:circle;
    margin-top: 10px;
    margin-bottom: 10px;
}
.indicetp li:hover {
    color: gainsboro;
    text-decoration: underline;
}
h1{
    text-align: center;
}

.textointro {
    font-size: 1.5rem;
}

@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
    
  }